<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apprendre</h2>
                    <h3 class="section-subheading text-muted">Les Relations Investisseurs assistées par l'IA : Guide pratique pour lever des fonds plus efficacement grâce à l'Intelligence Artificielle conversationnelle</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cropped_image (1).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 1</h4>
                                    <h4 class="subheading">VALIDEZ VOTRE POTENTIEL AUPRES DES INVESTISSEURS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dans un contexte économique en constante mutation, les entreprises sont confrontées à des défis de plus en plus complexes pour sécuriser les financements nécessaires à leur développement. Ce guide explore comment l'intelligence artificielle peut révolutionner les méthodes traditionnelles de levée de fonds, souvent perçues comme longues et fastidieuses. Vous y découvrirez une analyse approfondie des enjeux actuels du financement entrepreneurial et des solutions innovantes proposées par l'IA. En adoptant une approche centrée sur les données et l'automatisation, vous gagnerez en efficacité et optimiserez vos chances de succès.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cropped_image.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 2</h4>
                                    <h4 class="subheading">BATIR UNE STARTUP SOLIDE EN PERIODE D'INCERTITUDE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">L'avenir de l'entreprise se construit aujourd'hui. Cette partie du livre vous offre une vision prospective de l'entrepreneuriat à l'ère de l'intelligence artificielle. Vous y découvrirez comment les technologies émergentes peuvent transformer votre modèle économique et vous donner un avantage concurrentiel. Des études de cas inspirantes vous montreront comment des startups ont réussi à tirer parti de l'IA pour accélérer leur croissance.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cropped_image (3).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 3</h4>
                                    <h4 class="subheading">ROLE DE L'IA CONVERSATIONNELLE DANS LA LEVEE DE FONDS</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Découvrez comment les dernières avancées en matière d'intelligence artificielle, notamment les modèles de langage comme GPT-4, sont en train de révolutionner le secteur de la finance. Ce chapitre explore en détail les applications pratiques de l'IA générative dans le domaine de la levée de fonds. Vous comprendrez comment cette technologie peut vous aider à créer des relations plus solides avec les investisseurs, à personnaliser vos communications et à prendre des décisions plus éclairées.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/cropped_image (4).png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 4</h4>
                                    <h4 class="subheading">IMPLEMENTATION DE L'IA CONVERSATIONNELLE</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">De la théorie à la pratique : Dans cette dernière partie, nous vous proposons des outils pour mettre en œuvre l'IA conversationnelle au sein de votre entreprise. Vous découvrirez comment entrainer vos modèles, optimiser leurs performances et les intégrer à vos processus existants. Des études de cas réelles vous inspireront et vous aideront à identifier les meilleures pratiques pour votre secteur d'activité.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4><a href="https://wa.me/p/7554158674712371/33605861568">Je 
                                    commande
                                    le livre</a></h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
