<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Les Relations Investisseurs assistées par l'IA : Guide pratique pour lever des fonds plus efficacement grâce à l'intelligence artificielle conversationelle</h2>
                    <h3 class="section-subheading text-muted">Découvrez comment l'IA peut gérer les questions répétitives de vos investisseurs, pendant que vous vous concentrez sur l'essentiel.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 1</h4>
                                    <h4 class="subheading">Marre de vous perdre dans la jungle des financements ?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Prenez le contrôle du financement de votre startup avec notre IA, un chatbot innovant qui vous guide à travers les opportunités de financement. Que ce soit des prêts, des subventions ou des levées de fonds, maximisez vos chances de succès en optimisant votre stratégie financière dès aujourd'hui. - à partir de 20 €/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/a-captivating-and-diverse-representation-of-invest-O4WgcskkQmW2EyI8aOs64A-l31fU5TIQFGo_kxjA90rZw.jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 2</h4>
                                    <h4 class="subheading">Gagnez des heures sur la rédaction de votre business plan</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Maîtrisez toutes les étapes cruciales du financement de votre start-up pour garantir sa pérennité et booster sa croissance. De la recherche d'investisseurs à l'élaboration d'un business plan financier solide, ces formations vous préparent à séduire les financeurs et à réussir vos levées de fonds. Parfait pour les entrepreneurs et les gestionnaires cherchant à sécuriser leur futur grâce à l'IA. - à partir de 200 €/ masterclass </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Designer (9).jpeg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 3</h4>
                                    <h4 class="subheading">Passez à la vitesse supérieure en matière de levée de fonds</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Marre de perdre du temps à chercher des investisseurs ? Ce livre vous montre comment l'IA peut automatiser et optimiser votre processus de levée de fonds. Découvrez des techniques éprouvées pour créer des relations solides avec les investisseurs, négocier les meilleures conditions et sécuriser le financement dont vous avez besoin. - 53 €/ version premium</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Partie 4</h4>
                                    <h4 class="subheading">Votre assistant IA, conçu pour fluidifier l’expérience de vos investisseurs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Avec un chatbot sur mesure, facilitez l'accès à vos documents critiques pour vos investisseurs en temps réel. Automatisez jusqu’à 90% des requêtes de vos utilisateurs, boostez la satisfaction de 25%, et accélérez le développement de votre startup. Une solution clé-en-main, livrée en 1 semaine, pour une automatisation optimale. - à partir de 200 €/ mois</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>IA sur mesure</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
