<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="https://amzn.eu/d/121dNO0">
                        <img src="img/logos/Copie de Dark Blue Artificial Book Cover Document(A4) (4).jpg" class="img-responsive img-centered" alt="">
                        <div class="text-center">Commander l'Edition Deluxe</div>
                    </a>
                </div>
                <br><br>
                <div class="col-md-3 col-sm-6">
                    <a href="https://amzn.eu/d/cS8tTuY">
                        <img src="img/logos/premium.png" class="img-responsive img-centered" alt="">
                        <div class="text-center">Commander l'Edition Premium</div>
                        <!-- <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="212" height="362" frameborder="0" allowfullscreen style="max-width:100%" src="https://lire.amazon.fr/kp/card?asin=B0D66WVDXG&preview=newtab&linkCode=kpe&ref_=kip_embed_taf_preview_G59Y7DDT3RTMFEFASB0V&hideBuy=true" ></iframe> -->
                    </a>
                </div>
                <br><br>
                <div class="col-md-3 col-sm-6">
                    <a href="">
                        <img src="img/logos/NB de Dark Blue Artificial Book Cover Document(A4).png" class="img-responsive img-centered" alt="">
                        <div class="text-center">Commander l'Edition Noir & Blanc</div>
                        <!-- <img src="img/logos/Copie de Dark Blue Artificial Book Cover Document(deluxe).jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <br><br>
                <div class="col-md-3 col-sm-6">
                    <a href="">
                        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="336" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://lire.amazon.fr/kp/card?asin=B0D66WVDXG&preview=inline&linkCode=kpe&ref_=kip_embed_taf_preview_5TFGSCEMGGH47CGQVMFN" ></iframe>
                    </a>
                </div>
            </div>
        </div>
    </aside>
