<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="">
                        <img src="img/logos/Copie de Dark Blue Artificial Book Cover Document(A4) (4).jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="">
                        <iframe type="text/html" sandbox="allow-scripts allow-same-origin allow-popups" width="336" height="550" frameborder="0" allowfullscreen style="max-width:100%" src="https://lire.amazon.fr/kp/card?asin=B0D66WVDXG&preview=inline&linkCode=kpe&ref_=kip_embed_taf_preview_W3N9K4WDQKKQ6K17375W" ></iframe>
                        <!-- <img src="img/logos/Copie de Dark Blue Artificial Book Cover Document(deluxe).jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="">
                        <img src="img/logos/premium.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="">
                        <img src="img/logos/NB de Dark Blue Artificial Book Cover Document(A4).png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>
