
<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                    <h2 class="section-subheading text-muted"><span style="color: #1f628e">Prêt à révolutionner votre gestion des talents ?
                    </span></h3>
                        <h2 class="section-heading"><!-- Book preview begins -->
                                <script type="text/javascript" src="//books.google.com/books/previewlib.js"></script>
<script type="text/javascript">
GBS_setLanguage('fr');
GBS_insertPreviewButtonPopup(['ISBN:979-8326147035','ISBN:979-8327158863','ISBN:B0D66WVDXG','N8DG48P2BY0']);
</script>

<!-- end Book preview --></h2>
                </div>
            </div>


        </div>
    </section>

