<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le Futur de la Levée de Fonds : Solutions IA pour les Investisseurs</h2>
                    <h3 class="section-subheading text-muted">Plusieurs solutions basées sur l'Intelligence Artificielle existent pour répondre à des besoins de financement selon votre niveau d'expertise.<br> 
Nous automatisons le processus de levée de fonds via des chatbots. 
Nos outils permettent ainsi aux métiers sans expertise informatique de se concentrer sur le développement du business.<br>
En complément, non seulement des Formations en IA sont disponibles pour les adapter à vos projets spécifiques, mais en plus notre guide vous permettra de monter en compétences pour intégrer une solution totalement personnalisée. 
                    </h3>
                </div>
            </div>
            <div class="row text-center">

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://wa.me/p/8481371285262868/33605861568"><i class="fa fa-pencil-square-o fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">L'Intelligence artificielle prête à l'emploi</h4>
                    <p class="text-muted">Une expérience d'investissement sur-mesure. Notre IA s'adapte à vos objectifs et vous guide vers les opportunités les plus prometteuses.
                        Ces Intelligences Artificielles identifient ainsi les meilleures opportunités et vous aident à structurer une stratégie financière adaptée à votre startup.  - à partir de 20 €/ mois<br>
                        Notre chatbot dédié aux sélections de startups pourra, quant à lui, gérer leurs requêtes en temps réel. 
                        Laissez donc l'IA peut gérer les questions répétitives, pendant que vous vous concentrez sur l'essentiel. - à partir de 200 €/ mois</p>
                </div>
                
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://wa.me/p/7957611087630968/33605861568"><i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">La formation pour maîtriser le prompt engineering</h4>
                    <p class="text-muted">Pour les entrepreneurs et les professionnels qui veulent apprendre à perfectionner les assistants IA dans leur contexte métier, gagnez des heures sur la rédaction de vos analyses et autres documents nécessaires à votre due diligence.<br>
Donnez à votre portefeuille un coup de boost. En investissant dans des entreprises ayant suivi nos formations, vous augmentez vos chances de succès. - à partir de 20 €/ mois</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <a href="https://wa.me/p/7554158674712371/33605861568"><i class="fa fa-book fa-stack-1x fa-inverse"></i></a>
                    </span>
                    <h4 class="service-heading">Le guide pour une intégration sur mesure</h4>
                    <p class="text-muted">Disponible en plusieurs versions, notre guide vous montre comment l'IA peut automatiser et optimiser les Relations Investisseurs.<br> 
                        Découvrez des techniques éprouvées pour créer des relations solides avec les investisseurs, négocier les meilleures conditions et sécuriser le financement dont vous avez besoin.<br>
                        Vous y découvrirez des méthodes pour personnaliser les intéractions avec chaque investisseur en fonction de ses besoins spécifiques, tout en optimisant les étapes critiques comme la présentation ou la négociation. - 53 €/ version premium</p>
                </div>
                
            </div>
        </div>
    </section>
