<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Automatiser</h2>
                    <h3 class="section-subheading text-muted">Dites adieu aux tâches répétitives. 
                        Un chatbot est un programme informatique capable de simuler une conversation avec une personne. 
                        Ils sont capables de comprendre et de répondre aux questions de manière naturelle et informative.
                        Nos chatbots personnalisés à vos cas d'usage repoussent les limites de l'intelligence artificielle. 
                        
    <br>Automatisez ainsi les tâches administratives. Libérez votre temps pour vous concentrer sur l'essentiel.
                        <br>Vous pouvez pour chaque version, <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/comments.svg" width="25" height="25"> accéder à la version Premium généraliste, <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/code.svg" width="25" height="25"> commander la version Entreprise personnalisée ou alors <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/brands/whatsapp.svg" width="25" height="25"> nous contacter pour plus d'information sur le produit.
                        
                        </h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h4>{{ member.name }}</h4>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
<p style="text-align: justify;">

<div style="text-align: center;">
  <br><b>Nos IA sur mesure</b>
</div>
    <br><b>Anticiper les questions</b> : Le chatbot fournit un feedback immédiat à l'entrepreneur, l'aidant à affiner son discours et à gagner en confiance.
    <br><b>Préparer la Due diligence</b> : Le chatbot est capable d'identifier les potentiels risques juridiques, financiers ou opérationnels en comparant les informations extraites avec les bases de données.
    <br><b>Développer un plan stratégique convaincant</b> : Il peut aider à structurer le plan stratégique en proposant une logique cohérente et en identifiant les étapes clés.
<br><b>Identifier le meilleur moment pour vendre</b> : Identifier le meilleur moment pour lever des fonds est une décision stratégique cruciale pour toute entreprise.
    <br><b>Préparer la Due diligence</b> : Le chatbot est capable d'identifier les potentiels risques juridiques, financiers ou opérationnels en comparant les informations extraites avec les bases de données.
    <br><b>Rédiger les courriers de prise de contact avec les investisseurs</b> : Le chatbot peut analyser les types d’investissements antérieurs de l'investisseur et ajuster le courrier en fonction de ses intérêts (par exemple, orienter la lettre vers l'impact social pour un investisseur axé sur les projets à fort impact social).
    <br><b>Faire des simulations d'entretiens avec les investisseurs</b> : Il peut poser des questions types, évaluer les réponses, donner des conseils et proposer des améliorations. Il peut également simuler différents types d'investisseurs, chacun avec ses propres priorités et styles d'interaction, offrant une expérience plus réaliste.
    <br><b>Découvrir comment transformer votre entreprise</b> : C'est un outil puissant pour les dirigeants d'entreprise qui cherchent à identifier des opportunités de croissance, d'innovation ou de transformation digitale.
                </p>

</p>
                </div>
            </div>
        </div>
    </section>
